.App {
  text-align: center;
}
.paragraph {
  text-align: justify;
}
.py-5 {
  padding-top: 3rem !important;
  padding-bottom: 7rem !important;
  text-align: justify;
}
.row {
  justify-content: center;
}
.form-group {
  text-align: left;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}
